.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: auto;

  margin-top: 1%;
}

.Navbar {
  width: 100%;
  height: 100%;
}

.alert {
  width: 100%;
  margin: 0;
  text-align: center;
}

table{
  margin: 1%;
}
.special {
  text-align: center;
}
.horizontal-line {
  border-top: 1px solid black;
}